body {
  font-size: 1.6rem;
  font-family: Lato, sans-serif;
}

.heading-primary {
  color: $color-primary;
  text-align: center;
  text-shadow: 0 .1rem .2rem rgba($color-black, .4);
  font-size: 4rem;
}
