/* COLORS */
$color-primary: #215793;
$color-primary-light: #33d4ff;
$color-secondary: #F9C22A;
$color-white: #fff;
$color-black: #000;
$color-black-2: #020024;
$color-gray-light: #ddd;

/* GRID */
$grid-width: 120rem;
$grid-horizontal-gap: 6rem;
$grid-vertical-gap: 8rem;

/* HEADER */
$header-height: 6rem;
